<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<!-- Rendering Partial Collections for comments - Renders _comment.html.erb -->
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<!-- Renders _form.html.erb -->
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>